<html>
<body>
<h1>Bienvenido Ahorcado LA362</h1>

	<h2>_</h2>

  <form method="POST" action="/">
    <input type="text" id="palabraIngresada">
    <input type="submit" value="Intentar">
	</form>

</body>
</html>

