<html>
<body>
<h1>Bienvenido Ahorcado LA362</h1>

  <h2><%=@palabraVisual%></h2>
  Ultimo Intento: <%=@res %>
  <form method="POST" action="/intentar">
    <input type="text" name="txtpal" id="palabraIngresada"/>
    <input type="submit" value="intentar"/>
  </form>

</body>
</html>

