<html>
<body>
<h1>Bienvenido Ahorcado LA362</h1>

	<form method="POST" action="/">
		Estoy en <%= @posicion %> aputando a <%= @direccion%>	
		<input type="submit" id="1" value="Adelante"/>
	</form>

	<form method="POST" action="/derecha">
    derecha
		<input type="submit" id="2" value="Derecha"/>
	</form>

	<form method="POST" action="/izquierda">
izq
		<input type="submit" id="3" value="Izquierda"/>
	</form>

</body>
</html>

